<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">

      <ion-avatar padding>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=retro&f=y%22">
      </ion-avatar>

    </ion-buttons>
    <ion-title>Moody</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
Today is : 
  <!-- Toggles in a List -->
  <ion-list>
    <ion-item>
      <ion-label>Did you sleep well last night?</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Did you eat healthy today?</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Did you go outside today?</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Did you exercise today?</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Did you talk to people today?</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-list>

  <p>How do you feel?</p>

  <ion-list>
  <ion-segment>
    <ion-segment-button value="friends" color="success" checked>
      Happy
    </ion-segment-button>
    <ion-segment-button value="enemies">
      Sad
    </ion-segment-button>
  </ion-segment>
</ion-list>

    <hr>
  
  <ion-button expand="block" fill="solid" color="secondary">Save My Day</ion-button>

</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>